# React Native / Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Metro bundler
.expo/
.expo-shared/
.expo-internal/
.expo/cache
metro-cache/

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata/

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties

# Temporary files
*.swp
*.DS_Store
*.log

# Environment variables
.env
.env.*.local

# IDE configs
.vscode/
.idea/